<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h1>Order Confirmation</h1>
    <p>Hey there!</p>
    <p>Your order has been successfully placed for the following items:</p>
    <ul>
        {% for item in cart.cartitem_set.all %}
            <li>{{ item.product.name }} - Quantity: {{ item.quantity }} - Price: ${{ item.product.price }}</li>
        {% endfor %}
    </ul>
    <p>Thank you for your order!</p>
    <a href="{% url 'product:products' %}">back to home page?</a>
</body>
</html>
