{% extends 'product/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'users/register.css' %}">
{% endblock %}
{% block form_class %}hide-search-bar{% endblock %}
{% block content %}
<div class="register-container">
    <div class="register-header">Login</div>
    <div class="register-body">
        <form method="post">
            {%csrf_token%}
            {{form}}
            <button type="submit" >Login</button>
        </form>
    </div>
</div>

{% endblock %}