<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopApp</title>
    <link rel="stylesheet" href="{% static 'product/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    {% block css %}
    {% endblock %}
</head>
<body>
    
    <!-- for medium and large screens -->
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'product:products' %}" class="brand">Shop App</a>
            
            <ul class="menu">
                <li><a href="{% url 'users:register' %}">Accounts</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <form class="search-bar {% block form_class %}{% endblock %}" method="post">
            {%csrf_token%}
            <input type="text" name="search" placeholder="Search Products Here">
            <button type="submit">search</button>
        </form>
        
    </nav>

    <!-- for small screens -->
    <nav class="navbar-mob" >
        <div class="nav-mob-head">
            <a href="{% url 'product:products' %}" class="nav-mob-brand">Shop App</a>
            <div class="nav-mob-menu"><span class="material-symbols-outlined">menu</span></div>
            
        </div>
        <form class="nav-mob-search">
            <input type="text" placeholder="Search Products Here">
            <button type="submit">search</button>
        </form>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>