{% extends 'product/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'product/details.css' %}">
{% endblock %}
{% block content %}
<div class="product-detail-card">
    <div class="product-image">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
    </div>
    <div class="product-details">
        <h1>{{ product.name }}</h1>
        <p><strong>Description:</strong> {{ product.description }}</p>
        <p><strong>Price:</strong> ${{ product.price }}</p>
        <p><strong>Category:</strong> {{ product.category }}</p>
        <p><strong>Brand:</strong> {{ product.brand }}</p>
        <p><strong>Stock Quantity:</strong> {{ product.stock_quantity }}</p>
        <a class="add-to-cart-detail">Add to Cart</a>
    </div>
    
    
</div>
{% endblock %}