/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 1vw;
    padding: 0.5vw;
}

.search-bar{
    margin-left: auto;
    margin-right: 2%;
}

.search-bar input{
   height: 5vh;
   width: 35vw;
   margin: 5% 0;
   padding: 1vh;
   font-size: 1rem;
   font-family: "Comic Sans MS", cursive;
}



.brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}


.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
}
