.product-detail-card{
    display: flex;
    overflow: hidden;
    margin: 2vw  5vw;
    padding: 4vw;
}

.product-image{
    margin: 2vw;
    margin-right: 0px;
}

.product-image img{
    width: 360px;
    height: 338px;
}

.product-details{
    margin: 2vw;
    background-color: #00796B;
    color: #fff;
    width: 60vw;
    margin-left: 0px;
    height: 338px;
}
.product-details h1{
    margin: 20px;
}

.product-details p{
    margin: 10px;
    margin-left: 20px;
}

.add-to-cart-detail{
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold; /* Optionally, make the text bold */
    text-align: center; /* Center the text horizontally */
    text-decoration: none; /* Remove underline from the link */
    color: #fff; /* Text color */
    background-color: #FF6F61; /* Button background color */
    border: 2px solid #FF6F61; /* Button border */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    margin: 20px;
}

.add-to-cart-detail:hover {
    background-color: #ff6e619a; /* Change background color on hover */
    border-color: #ff6e619a;
}