{% extends 'product/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'cart/cart.css' %}">
{% endblock %}
{% block form_class %}hide-search-bar{% endblock %}
{% block content %}
<div class="cart-container">
<form action="{% url 'order:order_now' %}" method="post">
    {% csrf_token %}
 <h1 class="cart-heading">Your Shopping Cart</h1>
    {% if cart_items %}
        <ul class="cart-ul" >
            {% for cart_item in cart_items %}
                <li>
                    {{ cart_item.product.name }} - Quantity: {{ cart_item.quantity }}
                    <a href="{% url 'cart:remove_from_cart' cart_item.id %}">Remove</a>
                </li>
            {% endfor %}
        </ul>
        <p class="cart-summary" >Total Items: {{ cart_items|length }}</p>
        <button type="submit" class="cart-btn">order now</button>
    {% else %}
        <p class="empty-cart" >Your cart is empty.</p>
    {% endif %}
    </form>
    <a class="cart-btn" href="{% url 'product:products' %}">Continue Shopping</a>
    </div>
{% endblock %}